@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

/*selectores
https://www.w3schools.com/cssref/css_selectors.php
*/
/* selector universal,: todos los elementos */
*{ 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* selectore port tipo de tag */ 
h1, h2 {
 color: blue;
} 
/*selector por clase*/
.parrafo {
    color: orchid;
}
/*selector por id*/
#boton {
    border: solid 2px blue;
    border-radius: 3px;
}
/*selector por atributo*/
[minombre="test"] {
    color: blueviolet;
}
/*selector por desendiente*/
h2 b {
    color: darkgreen;
}
/*selector porp seudoclases (eventos?)*/
/* *:hover{
    color: green;
} */

/*
especificidad: presedencia:

1 !important
2 estilos en linea (style="")
3 identificadores (#)
4 clases (.), pseudo clases(:), atributos ([])
5 elementos (tag name), pseudo elementos

a igual presedencia se aplica el ultimo estilo definido (cascada!!!!)
*/

.important{
    color:  red !important;
}
#parrafo3{ /* id tiene presedencia sobre clase*/
    color: darkslateblue;
}
.parrafo2 {
    color: darkred;
}


/*
metodologia BEM (BOX - ELEMENT - MODIFIER)
Evita lOS conflictos conociendo que se elije a partir del nombre
*/
.form {
    border: solid 1px gray; border-radius: 4px;
    padding: 5px;
}
.form__input {/*uso __ para indicar el elemento*/
    color: darkgray;
    margin: 5px;
}
.form__input--active {/*uso -- para indicar el modificador , lo puedo manejar por js*/
   font-weight: 600;
}

/*unidades de medida
fijas cm mm px pt
relativas 
    rem Relative to the Root Element (<html>) Font Size:
    em: por defecto 1 em = 16px, Relative to the Font Size of the Parent Element:
    vw: view port witdh: ancho de la pantalla
    vh: viewport height: alto de la pantalla
    %: es el porcentaje del contenedor
*/

.fijas{
    .p1 {font-size: 1cm}
    .p2 {font-size: 7mm;}
    .p3 {font-size: 14px;}
}

.relativas {
    font-size: 15px;
    margin: 5px !important;
    padding: 5px !important;
}
.relativas_p1 {font-size: 1em;}
.relativas_p2 {font-size: 2em;}
.relativas_p3 {font-size: 3em;}

.viewport{
    border: solid 1px darkgray;
    height: 20vh;
    width: 50vw;
}

viewport p {
    white-space: nowrap;        /* Prevents the text from wrapping to the next line */
     overflow: hidden;           /* Ensures the overflowed text is clipped */
     text-overflow: ellipsis;    /* Adds an ellipsis (...) at the point where the text is cut off */
     max-width: 100%;            /* Set a maximum width or specific width to control where the text gets clipped */
   }

.font{
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.4;
    font-weight: 300;
    font-stretch: expanded;
    font-variant: small-caps;
}


.imported-moderustic-300 {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*
normalize
los nevegadores aplican un estilo por defecto
puedo incluir un archivo normalize.css para reescrivir todos lso esitlos por defecto
npm install --save normalize.css
luego se aplica con el link href de siempre
*{
    box-sizing: border-box;   me aseguro que la cajas tengan el tamaño que les defini sin que el padin g las desforme
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%; para que las imagenes nunca sean mas grandes que el contenedor
}
*/

/* teoria de cajas  
Aquí tienes una lista más completa de etiquetas HTML que se comportan como bloques y como en línea:

en bloque: 
siempre se ajustan al ancho de su contenedor
dividen el espacio en secciones
el elemento siguiente se ubica debajo
ej. h1 h2, p
se les puede dar height, width

### Etiquetas de bloque (block-level):
`<address>, <article>, <aside>, <blockquote>, <canvas>, <dd>, <div>, <dl>, <dt>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hr>, <li>, <main>, <nav>, <noscript>, <ol>, <p>, <pre>, <section>, <table>, <ul>`

en linea:
siempre se ajustan al ancho de su contenido, 
el elemento siguiente  se alinean una tras otra
ej. b, span
a los elemento en linea NO se les puede dar hegith, width

### Etiquetas en línea (inline-level):
`<a>, <abbr>, <acronym>, <b>, <bdi>, <bdo>, <big>, <br>, <button>, <cite>, <code>, <data>, <datalist>, <dfn>, <em>, <i>, <img>, <input>, <kbd>, <label>, <map>, <mark>, <meter>, <object>, <output>, <picture>, <progress>, <q>, <ruby>, <s>, <samp>, <script>, <select>, <small>, <span>, <strong>, <sub>, <sup>, <svg>, <textarea>, <time>, <u>, <tt>, <var>, <wbr>`

display block : completa la linea, se ajusta al conetenedor?, elementos en bloque
display inline: elementos en linea, se ajusta al contenido, no completa la linea
*/
.cajas {
    border: solid 1px black;
    width: 50%;
    height: 40px;
    text-align: center;
    align-content: center;
}
.inline_forced{
    display: inline;
}

.estilos_cajas{
    display: inline-block; /*se comporta como bloque pero puede tomar las props de un inline (ancho alto)*/
    background-color: deepskyblue;
    margin: 10px 15px; /* top botom, left right*/
    padding: 10px;
    width: 50vw;
    height: 5rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 15px 1px gray; /*x y desenfoque borde color*/
    text-shadow: 3px 3px 6px lightblue; /* x y desenfoque color*/
    transform: rotate(45);
}
 .estilos_cajas p{
    color: darkslateblue;
    outline: ;
}

/* 
outline 
es un borde que no ocupa un espacio real sin afectar los tamaños
*/

.caja2{
    width: 200px;
    height: 100px;
    margin: auto;   /*deja centrado el elemento*/
    background-color: orange;

    /* de este modo respeta el tamaño de la caja y agrega el borde por fuera
    box-sizing: content-box;
    border: 10px solid rebeccapurple;
    */
    /*con outline el borde se cloca sobre la caja pero no cambia su tamaño*/
    outline: 10px solid rebeccapurple;
}

/**position
el tamaño en el dom se reserva y los otros elementos no lo pueden ocupar 
incluso si la movi de lugar con position top left
static: nada
relative
avsolute
fixed
sticky
*/
.pos{
    width: 200px;
    height: 100px;
    background-color: darkorange;
    outline: 1px solid black;
}
.poscont{position: relative; left: 50px; background-color: aquamarine;}
.position1{
    position: absolute;
    top: 20px;
    left: 40px;
}

.position2{ 
    position: relative;
    top: 20px; /*desde el elemento anterior*/
    left: 50px;
}
.position3{
    position: relative;
    z-index: 20;
}
.fixed{
    /**figado al viewport, si hago scroll se mantiene en pantalla, ejemplo nab var, footer, scroll botons*/
    position: fixed; /*paresido a absolute*/
    width: 100%; /*OR left: 0; right: 0; funciona igual*/
}
.sticky{
    /*en principio esta en el flujo regular, pero al hacer scroll queda fijo*/
    /* pero se mantiene dentro de su contendor */
    position: sticky;
    top: 0; /**no puede faltar, es la distancioa al top del viewport*/
    z-index: 1;
    width: 50dvw;
    align-self: start; /*si esta dentrodel agun elmento con display flex */
}

/* 
display 
afecta como se relacionana las cajas
none
block . ocupan todo
inline. se ajusta al contenido NO se les puede dar hegith, width
inline-block . en linea pero con alto ancho

list-item

table
table-row
table-column
table-cell
inline-table
los table estan obsoletos en diseño

grid
flex
los contenedores grid y flex se comportan como block

inline-flex
inline-grid
*/

/*overflow*/
.overContainer{
    border: solid 2px black;
    height: 200px;
    width: 50vw;
    overflow: hidden; /*corta el exedente*/
    overflow: scroll; /*scrollea*/
    overflow-x: hidden; /*oculta el scroll*/
    overflow: auto;
}

/*parrafos lado a lado*/
.sideCont{
    width:50%;
    height: 200px;
    overflow: hidden;
}

.sideContent {
display: inline-block;
width: 30%; /* Ajusta el ancho según tus necesidades */
margin-right: 1%; /* Espacio entre los párrafos */
vertical-align: top; /* Alineación vertical opcional */
}
.P{background-color: orange;}
.S{background-color: violet;}

/*pseudo elementos
no forman parte del dom, no son elementos

::first-line    - block (en todos menos inline)
::first-letter  - block (en todos menos inline)
::placeholder
::after         hijos - content(necesario) - inline
::befere        hijos - content(necesario) - inline
::selection
*/

.texto{
    color: black;
    width: 50%;
    
}
.texto::first-letter{
    font-size: 1.6rem;
    font-weight: bold;
}
.texto::first-line{
    color: blue;
}
.texto::selection{color: aqua; background-color: yellowgreen ;
    font-size: 1.6rem;
}

.input{color: black;}
.input::placeholder{color: royalblue;}

.after-before{margin: 10px; padding: 5px;
    border: solid 1px black;
    margin: 20px auto;
    text-align: center;
}
.after-before::before{content: "antes de |"; color:blue; float: left;}
.after-before::after{content: "| y despues!!!"; color: orange; float: right;}


/* 
PSEUDO CLASES
escuchas de un evento que modifica el estilo
:hover  . mouse esta ensima
:link
:visited
:active
:focus
:lang   . funcion que ajusta el estilo segun el lenguaje

*/
.pseudoclases{
    color: darkslategray;
    border: solid 1px black;
    margin: 20px auto;
    width: 50%;
    padding-left: 30px;
    transition: all 1s;
}

.pseudoclases ul li{
    transition: all 0.5s;
}
.pseudoclases ul li:hover{
    color: blue;
    cursor: pointer;
    font-size: 1.6rem;
}
.pseudoclases:active{background-color: blue; color: white;}

.pseudoclases a:link{color: green;}
.pseudoclases a:visited{color: grey;}

.pseudoinput:focus{outline: solid 2px red;}


.pseudolang{
border: solid 1px black;
    margin: 20px auto;
    width: 50%;
    padding-left: 30px;
}
.pseudolang p:lang(es){
    color: blue;
}
.pseudolang p:lang(en){
    color: darkviolet;
}

/* object-fit:
none . no aplica ningun fit
fill
contanis . la imagen se ajusta a su resolucion
cover. se ajusta al contenedor y recorta los bordes que sobran
scale-down. resolucion mas pequeña para clasar ,se queda con la mejor propiedad
*/
.img-cont{
    border: solid 3px red;
    height: 100px;
    width: 230px;
    margin: 20px auto;
    padding: 0;
}

.img-cont img{
   height: 100%; /*se estira para igualar el contenedor*/
    width: 100%; /*se estira para igualar el contenedor*/
    border: solid 3px  blue;
    margin: 0;
   
}

.contain{
    object-fit: contain;
}
 .cover{
    object-fit: cover;
}
 .none{
    object-fit: none;
}
.scale-down{
    object-fit: scale-down;
}
.fill{
    object-fit:fill;
}

.bottom{
    object-fit: cover;
    object-position: bottom; /* 10px*/
}

/*cursor
https://www.w3schools.com/cssref/tryit.php?filename=trycss_cursor
*/
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.col-resize {cursor: col-resize;}
.context-menu {cursor: context-menu;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

/*COLORES

https://htmlcolorcodes.com/es/
https://www.w3schools.com/colors/colors_groups.asp
https://htmlcolorcodes.com/color-names/


NOMBRES predef
hex
rgb
rgba
hsl
hsla
*/
.div-color {
    display: inline-block;
    height: 100px; width: 100px;
    border: solid 3px black;
}
.colname{
    background-color: coral;
}
.col1rgb{
    background-color: rgb(200, 150, 100);
}
.col1rgbA{
    background-color:rgba(200, 150, 100, 0.5);
}
.col1hsl{
    background-color: hsl(150, 70%, 70%);
}
.col1hsla{
    background-color: hsl(150, 70%, 70%, 0.5);
}
.colhex{
    background-color: #aa33ff;
}

/* 
responsive desing
mobile-first google les da mejor seo

se trabajan con media queries
no olvidar en el head el meta viewport para pantallas pequeñas
 <meta name='viewport' content='width=device-width, initial-scale=1'>
*/
.resp{
    width: 100%;
    border: solid 3px black;
    padding: 10px;
    background-color: #e3e3e3;
    overflow-y: auto;
}
.resp h3{
  background-color: blueviolet;
}
.resp div{
    width: 45%;
    border: solid 3px black;
    display: inline-block;
    padding: 10px;
    background-color: #c7c7c7;
}

@media only screen and (max-width: 500px){
    .resp div{
        display: block;
        width: 100%;
    }
}

/*
MENU RESPONSIVO
agregar el cdn de iconos font awersome
<script src="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa3QxQjVnRXVMSTJNeV8yaWxpaE95SFYyVUg0UXxBQ3Jtc0tuT1pvR194Y1cteDlDX0NJVW9ZUk9NdWpZNjM5dUpGdnNVRVItZXk4X3FkYy1FUndwWEkybkNvMDV2VUktakpWMFFhQ1Zibm5KbnlfYmVjRTZHdDdGUjhoMV9DMXF2bGhyYU1qaWZYbzVmZmYtY1pKYw&q=https%3A%2F%2Fkit.fontawesome.com%2F62ea397d3a.js&v=OWKXEJN67FE"></script>
*/

.nav{
    background-color: slateblue;
    position: relative;
    z-index: 100;
}

.nav__li{
    display: inline-block;
    padding: 12px;
    color: white;
    align-content: center;
    list-style-type: none;
}

.nav__responsive-li{ list-style-type: none; }

.nav__li-container{
    position: relative;
    top:10px;
    transition: all 1s;
    z-index: 10;
    display:  none;
    height: 0px;
    background-color: deepskyblue;
    width: 100%;
}

.nav__li i, .nav__responsive-li i{
    color: white;
    text-decoration: none;
    height: 1.5rem; width: 1.5rem;
    display: inline-block;
    border: solid 2px blue;
    border-radius: 0.2rem;
    box-sizing: border-box;
    text-align: right;
}

.nav__li a, .nav__responsive-li a{
    position: relative;
    top: -10px;
    color: white;
    text-decoration: none;
    margin-bottom: 1.5rem;
    align-content: center;
}

.nav__li:hover, .nav__responsive-li:hover {
    color: cyan;
}
.nav__li:hover > a, .nav__responsive-li:hover > a{
    color: cyan;
}

.nav__responsive-li a{
    text-decoration: none;
}

.nav__responsive-ul{display: none; z-index: 10; transition: all 1s;}
.nav__responsive-button{
    float: right;
    font-size: 1.2rem;
    border: solid 2px blue;
    height: 1.5rem; width: 1.5rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    color: white;

}

@media only screen and (max-width: 650px){
    .nav__ul {display: none;}
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 95%;
    }
    .nav{
        height: 50px;
        width: 100%;
        z-index: 100;
    }
}

.nav__responsive-ul:hover > .nav__li-container{
    position: relative;
    top:10px;
    display: inline-block;
    height: 200px;
    width: 100%;
    transition: all 1s;
    z-index: -10;
}

/* fexlbox cajas flexibles
    tiene un container y uno o varios items (los hijos directos, no los sub contenidos
    tiene dos ejes el main axis , x generalmente
    main-start main-end (iz a der)

    y el cross axis (vertical) (arriba a abajo)
    cross-start cross-end
*/
.flex-container{
    display: flex; /* los items se adaptan al conenedor pero tambien se ajustan al contenido*/
    flex-direction: row; /*es el valor por defecto, main axis horizontal*/
    /*flex-direction: row-reverse; /*cambia start por end*/
    /*flex-direction: column; /*cambia la direccion del main axis*/
    /*flex-direction: column-reverse; /*cambia start por end*/
    flex-wrap: wrap; /*respeta el tamaños de los items y los apila debajo si es necesario*/
    /*flex-wrap: wrap-reverse; /*coloca el overflow por encima*/

    justify-content: center; /*centra los items en el main axis*/
    justify-content: space-between; /* distribuye el espacio entre los items usando el 100% del main axis*/
    justify-content: space-evenly; /*todos los espacion son iguales*/
    justify-content: space-around; /*es mas responsivo, distribuye los items en el main axis en espacios iguales*/
}
.flex-item{
    border: solid 1px black;
    background-color: rgb(0, 90, 139);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

/*
para alinear en el cross axis se usan 2 props
aling items (cuando es 1 linea) flex-start flex-end center stretch baseline
align content (mas de 1 linea) 
*/

.flex-container2{
    border: solid 1px black;
    height: 200px;
    display: flex; /* los items se adaptan al conenedor pero tambien se ajustan al contenido*/
    flex-direction: row; /*es el valor por defecto, main axis horizontal*/
    flex-wrap: wrap; /*respeta el tamaños de los items y los apila debajo si es necesario*/
    justify-content: space-evenly; /*es mas responsivo, distribuye los items en el main axis en espacios iguales*/
    align-content: center; /*flex-start flex-end*/
    /*align-items: center; /*flex-start flex-end*/

    /*si quiero uvicar los items al final del cros axis
        flex-wrap: wrap-reverse;
        align-content:baselane;
    */
}
.flex-item2{
    border: solid 1px black;
    background-color: rgb(42, 0, 139);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
.flex-item2 p{color:white;}


/* flexbox items props
    aling-self. en el cross axis

    margin
    en flex el margin del item funciona completamante invertido
    left se hace rigth | top se hace bottom

    flex-grow.
    agarra el espacio sobrante y lo reparte en las cajas que quedan
    lo hace mas responsivo

    flex-basis.
    define el ancho de la caja
    tiene presedencia sobre
    width  y felex-grow

    flex-shrink.
    es la proporcion del espacio que sede la caja si se requiere

    flex.
    es un shorthand de flex-grow flex-shrink flex-basis

    order.
    indica el orden de las cajas
    afecta la flex-direccion en el main axis
*/

.flex-contprops{
    display: flex;
    justify-content: space-evenly;
    border: solid 1px black;
    height: 200px;
    flex-wrap: wrap;
}

.flex-item-first{
    align-self: flex-start; /* es el valor default*/
    order: 2; /*lo ubica al medio*/
}

.flex-item-second{
    /*por flex inverte entra en conflicto y queda centrado*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin: auto; /*es lo mismo*/
    flex-shrink: 2;
    order : 3;
}

.flex-item-last{
    flex-basis: 200px;
    align-self: flex-end; /*lo ubica en el fondo*/ /*flex-start flex-end  stretch */
}
.grow{
    flex-grow: 1; /*el espacio sobrante se reparte en 1 y se distrivuye*/
    border: solid 1px black;
    min-width: 150px; /* con  flex-wrap: wrap; si el tamaño se hace mas pequeño lo manda abajo */
}

/* GRID 
    TRABAJAMOS EL LAYOUT EN GRILLAS
    grid container.
        engloba y define toda la grilla
    grid item.
        todos los elementos dentro del conteiner son items. solo los ijos directos del container
    grid cell.
        el producto de las columnas con las filas
        
    grid tracks.
        es la suma de la cnatidad de columnas y filas, no el producto
        tambien hay grid-row, grid-column
        grid area.
        son conjuntos de celdas consecutivas que selecionamos
        son user defined
    grid lines (column-line, row-line)
        son las lineas que delimitan las columnas y las filas, los bordes
        empiezan con el indice 1, no cero

    ----- propiedades ------
    grid-template-rows (grid-container)
    grid-template-columns (grid-container)
    grid-template-areas
    grid-template

    grid-row-gap (grid-container)
    grid-column-gap (grid-container)
    grid-gap row column (grid-container)

    grid-row-start (grid-item)
    grid-row-end (grid-item)
    grid-column-start (grid-item)
    grid-column-end (grid-item)
    grid-row (grid-item)
    grid-column (grid-item)

    unidades auto , fr
    repeat(cantidad, tamaño/s)
*/

.grid-cont{
    border: solid 2px black;
    display: grid;
    grid-template-columns: 100px 100px  1fr ;
    /* grid-template-rows: 100px 100px 100px 100px; */
    grid-template-rows: repeat(4, 100px); /*es lo mismo*/
    grid-gap: 10px;
}

.grid-item{
    border: solid 2px black;
    background-color: rgb(42, 0, 139);
    color: white;
    margin: 10px;
    padding: 10px;
}

.grid-item:first-child{
    background-color: red;
    /*uso grid lines (column-line, row-line) para definir los limites del item*/
    /*grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;*/

    /**shorthand*/
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item:nth-child(2){
    background-color: orange;
    /*uso grid lines (column-line, row-line) para definir los limites del item*/
    grid-column: 2/3;
    grid-row: 2/ 3; /**span indica la extencion desde el inicio*/
}

/*
GRID IMPLICITO Y EXPLISITO

    IMPLICITO ES cuando los items se alieana a la grilla SIN que 
    se les halla dado un formato
    ej en una grilla de 2x3 un item 7 se colocoa en al fila 3 automaticamante
    aun si no defini 4 filas
    por defecto los items extra se crean como filas

    3 nuevas porps del grid implicito
    - grid-auto-rows (igual que el template)
    - grid-auto-columns (igual que el template)
    - grid-auto-flow  row(default). column y dense 
    */

.grid-implicit-cont{
    border: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*de este modo defino 3 columnas fijas que se ajustan aal ancho, pero no eifito el overflow */
    grid-template-rows: repeat(2, 60px);/*defino 2 filas iniciales de 100px */
    grid-auto-rows: 60px; /* crea las filas extra automaticamante */
    grid-auto-flow: row; /*or column, indica como se agregan los extra*/
    /*grid-auto-flow: dense; /* evita que queden espacios vacios o huecos en la grillas*/
    grid-gap: 10px;
}

.grid-imp-item{
    border: solid 2px black;
    background-color: rgb(42, 0, 139);
    color: white;
    margin: 0px;
    padding: 10px;
   
}

.grid-imp-item:last-child{
    background-color: red;
    /* grid-column: 1/4; */ /*width 100%*/
}


/*  GRID DINAMICO
    trabajo con propiedades dinamicas

    SI TENGO  min-width: 150px; EN EL ITEM
    puedo usar
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    de este modo se crean tantas columnas y filas como se necesiten, para evitar el overflow y rspetar el min width

    - minmax()
        permite indicar cuanto va a medir el item de minimo y maximo

    - min-content y max-content. 
        en lugar de usar % fr o px, 
        puedo usar repeat(3,min-content)
        para respetar de algun modo el contenido del item(3 columnas en este ej)

    - cantidad:
        - auto-fit
            en el repeat indica la cantidad de repeticiones para que se cumpla el minmax()
            repeat(auto-fit, minmax(150px, 1fr));
            crea columnas para respetar el tamaño
        - auto-fill: idem pero rellena todo el espacio disponifle
 */

 .grid-dim-cont{
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 60px; /* crea las filas extra automaticamante */
    grid-auto-flow: row; /*or column, indica como se agregan los extra*/
    /*grid-auto-flow: dense; /* evita que queden espacios vacios o huecos en la grillas*/
    grid-gap: 10px;
}

.grid-dim-item{
    border: solid 2px black;
    background-color: rgb(42, 0, 139);
    color: white;
    margin: 0px;
    padding: 10px;
    min-width: 150px;
}

.grid-dim-item:last-child{
    background-color: red;
}

/* ALINEACION Y CONTROL DE FLUJO
    la alineacion es dentro de cada celda y no 
    alienacion total del flex container
    cada celda seria un flex container

    propiedades del grid container:
    - justify-items   horizontal
    - align-items     vertical
    - stretch(default) - start - center - end
    - place-items: align-items justify-items
    
    alineacion de filas y columnas:
    - justify-content     horizontal
    - align-content       vertical
        stretch(default) - start - center - end
        ademas tiene las de flex: space-arround space-between space-evenly

    propiedades del item
    - justify-self  horihontal, sobreescribe el justify-items
    - align-self    vertical, sobreescribe el align-items
    - place-self:   justify-self align-self, shorthand
    - order:        funciona igual que en flex, es una especie de z index, por defecto es 1
*/

.grid-align-cont{
    border: solid 2px black;
    display: grid;
    grid-gap: 10px;
    height: 150px;
    grid-template-columns: repeat(3, 100px);
    /*alineacion por columna y filas*/
    justify-content: end; /* horizontal start- center - end */
    align-content: end; /* vertical stretch(default)- start - center - end */
    /*alinreacion por items*/
    justify-items: center; /* start - end */
    align-items: center; /* stretch(default)- start - center - end */
}

.grid-align-item{
    border: solid 2px black;
    background-color: rgb(42, 0, 139);
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
}

.grid-align-item:first-child{   
    /*alineacion del item*/
    align-self: flex-start; /* vertical*/
    justify-self: start; /* horizontal*/
    background-color: red;
    order: 2; 
}

/* AREAS EN GRID
    al grid ontainer:
    - grid-template-areas: "nombre/s de area/s" 

    al item:
    - grid-template-areas:

*/

.grid-area-cont{
    border: solid 2px black;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        'header header header'
        'aside main main'
        'footer footer footer';
    grid-template-rows: 60px 120px 40px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-area-item{
    border: solid 2px black;
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
}

.grid-header { grid-area: header;   background-color: orange;}
.grid-main   { grid-area: main;     background-color: rgb(0, 113, 139);}
.grid-aside  { grid-area: aside;    background-color: rgb(42, 0, 139);}
.grid-footer { grid-area: footer;   background-color: red;}


/* grid nombres de lineas
    es util cuando tengo grillas grandes o ccomplejas para 
    identificar puntos de referencia (secciones etc)  ej:
    en el container:
        grid-template-rows: 
        [inicio] 
        100px
        [medio]
        150px
        [final]
        100px;
    en el item:
        grid-row: inicio/medio
        grid-row: inicio/final
*/